@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <div class="text-center">
        <h3>You Lose...</h3>
        <button class="btn btn-primary" onclick="window.location.href='@Url.Action("StartGame", "Game")';">
            Start Game
        </button>
    </div>
}
