@model MineSweeper.Models.GameViewModel

<div id="timestamp" style="font-weight: bold; margin-bottom: 10px;">
    Elapsed Time: 0 seconds
</div>

<div class="container">

    <table border="1" id="game-board">
        @for (int row = 0; row < Model.Game.GetBoardState().NumRows; row++)
        {
            <tr>
                @for (int col = 0; col < Model.Game.GetBoardState().NumColumns; col++)
                {
                    <td style="width: 30px; height: 30px; text-align: center; border: 1px solid black;" class="cell">
                        @{
                            ViewData["Row"] = row;
                            ViewData["Col"] = col;
                        }
                        @Html.Partial("_Cell", Model)
                    </td>
                }
            </tr>
        }
    </table>
</div>




@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $(document).on("click", ".game-button button", function (e) {
                e.preventDefault();
                var form = $(this).closest("form");
                $.post(form.attr("action"), form.serialize(), function (data) {
                    $(".container").html(data);
                });
            });
        });
    </script>
    <script>
        setInterval(() => {
            $.ajax({
                url: '/Game/GetElapsedTime',
                type: 'GET',
                success: function (data) {
                    $('#timestamp').text(`Elapsed Time: ${data} seconds`);
                }
            });
        }, 1000);
    </script>

}