@{
    ViewData["Title"] = "You Win!";
}

<div class="text-center">
    <h3>You Win!!!</h3>
    <h2>Your Final Score: @ViewBag.Score</h2>
    <button class="btn btn-primary" onclick="window.location.href='@Url.Action("StartGame", "Game")';">
        Start New Game
    </button>
</div>
